<div class="items">
	<div class="img">
		<img src="./src/images/icon.png"/>
	</div>
	<div class="info">
		<p class="title">忍着必须死二</p>
		<p class="detail">史上最萌的游戏，安装量过10万</p>	
	</div>
	<a class="down">下载</a>
	<div class="icon-new"></div>
</div>
<div class="items">
	<div class="img">
		<img src="./src/images/icon.png"/>
	</div>
	<div class="info">
		<p class="title">忍着必须死二</p>
		<p class="detail">史上最萌的游戏，安装量过10万</p>	
	</div>
	<a class="down">下载</a>
	<div class="icon-new"></div>
</div>
<div class="items">
	<div class="img">
		<img src="./src/images/icon.png"/>
	</div>
	<div class="info">
		<p class="title">忍着必须死二</p>
		<p class="detail">史上最萌的游戏，安装量过10万</p>	
	</div>
	<a class="down">下载</a>
	<div class="icon-new"></div>
</div>

