<div class="page2">
	<header id="header" class="">
		<div class="header_left">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>
		<div class="header_right">
			
		</div>
	</header>
	<div class="top-container">
		<div class="top-container-left">
			<img src="./src/images/left.png" />
		</div>
		<div class="top-container-center">
			<span>招财商品</span>
		</div>
		<div class="top-container-right">
			<img src="./src/images/shopcat.png" />
		</div>
	</div>
	<div class="top-img">
		<img src="./src/images/icon.png" />
		<div class="pagetion">
			<div class="page-item"></div>
			<div class="page-item"></div>
			<div class="page-item"></div>
		</div>
	</div>
	<div class="center-container">
		<section class="title">
			<span>宜家小黑转 北欧卫生间瓷砖 厨房黑色纯色墙转 阳台小方砖地砖 阳台小方砖地砖 阳台小方砖地砖 阳台小方砖地砖 阳台小方砖地砖 阳台小方砖地砖</span>
		</section>
		<section class="price">
			<div class="price-container">
				<div class="original-price">
					<span class="price-label">原价</span>
					<span class="price-value original-price-value">¥25</span>
				</div>
				<div class="bargain-price">
					<span class="price-label">促销价</span>
					<span class="price-value bargain-price-value">¥14.90</span>
				</div>
			</div>
		</section>
		<section class="evaluate">
			<div class="evaluate-container">
				<div class="week-num">本周销量<span>40</span></div>
				<div class="collect-num">收藏总数<span>5</span></div>
				<div class="evaluate-value">
					<div class="checked"></div>
				    <div class="checked"></div>
				    <div class="unchecked"></div>
				    <div class="unchecked"></div>
				    <div class="unchecked"></div>
				    <span>21</span>
				</div>
			</div>
		</section>
		<section class="button">
			<div class="btn buy">立即购买</div>
			<div class="btn-group">
				<div class="btn shopcat">加入购物车</div>
				<div class="btn collect">收藏</div>
			</div>
		</section>
		<section class="detail">
			<table>
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr><td>分类</td><td>瓷磚</td></tr>
					<tr><td>尺寸</td><td>10cm x 10cm</td></tr>
					<tr><td>材质</td><td>陶瓷</td></tr>
					<tr><td>使用范围</td><td>內牆</td></tr>
					<tr><td></td><td></td></tr>
				</tbody>
			</table>	
			<div class="more">显示更多<img src="../src/images/Dropdown-Orange.png"/></div>
		</section>
		<section >
			<div class="gotoEvaluate">
				<div>商品评价</div>
				<img src="../src/images/TabArrow.png"/>
			</div>	
		</section>
		<section class="description">
			<div>商品描述</div>
			<div class="description-value">
				这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述这是商品描述
			</div>
			<div class="more">显示更多<img src="../src/images/Dropdown-Orange.png"/></div>
		</section>
		<section class="info">
			<div class="info-head">品牌信息</div>
			<div class="info-detail">
				<img src="./src/images/icon.png"/>
				<div>
					品牌信息品牌信息品牌信息品牌信息品牌信息品牌信息品牌信息品牌信息品牌信息品牌信息品牌信息
				</div>
			</div>
			<div class="others">
				品牌的其他全部商品
			</div>
		</section>
		<section class="same-good">
			<div class="same-good-head"><span>同类商品</span><span class="all-good">查看全部</span></div>
			<ul class="good-list">
				<li>
					<img src="./src/images/a.png"/>
					<div class="good-name">同类商品同类商品同类商品同类商品同类商品同类商品</div>
					<span class="good-price">¥14</span>
				</li>
				<li>
					<img src="./src/images/a.png"/>
					<div class="good-name">同类商品同类商品同类商品同类商品同类商品同类商品</div>
					<span class="good-price">¥14</span>
				</li>
				<li>
					<img src="./src/images/a.png"/>
					<div class="good-name">同类商品同类商品同类商品同类商品同类商品同类商品</div>
					<span class="good-price">¥14</span>
				</li>
				<li>
					<img src="./src/images/a.png"/>
					<div class="good-name">同类商品同类商品同类商品同类商品同类商品同类商品</div>
					<span class="good-price">¥14</span>
				</li>
			</ul>
		</section>
	</div>
</div>