<div class="page">
	<div class="head"><img src="./src/images/again.jpg"/></div>
	<ul class="list">
		<li class="item">
			<div class="left"><img src="./src/images/pic.jpeg"/></div>
			<div class="center">
				<div class="title">Carter's1年式灰色长袖连体衣包脚爬服全棉鲸鱼男婴儿童装115G093</div>
				<div class="price">
					<span class="extra">双11价</span>
					<span class="real-price">¥299.06</span>
					<span class="favor">(满400减100)</span>
				</div>
				<div class="detail">1小时内热卖5885件</div>
				<a class="rob">马上抢</a>
			</div>
		</li>
		<li class="item">
			<div class="left"><img src="./src/images/pic.jpeg"/></div>
			<div class="center">
				<div class="title">Carter's1年式灰色长袖连体衣包脚爬服全棉鲸鱼男婴儿童装115G093</div>
				<div class="price">
					<span class="extra">双11价</span>
					<span class="real-price">¥299.06</span>
					<span class="favor">(满400减100)</span>
				</div>
				<div class="detail">1小时内热卖5885件</div>
				<a class="rob">马上抢</a>
			</div>
		</li>
		<li class="item">
			<div class="left"><img src="./src/images/pic.jpeg"/></div>
			<div class="center">
				<div class="title">Carter's1年式灰色长袖连体衣包脚爬服全棉鲸鱼男婴儿童装115G093</div>
				<div class="price">
					<span class="extra">双11价</span>
					<span class="real-price">¥299.06</span>
					<span class="favor">(满400减100)</span>
				</div>
				<div class="detail">1小时内热卖5885件</div>
				<a class="rob">马上抢</a>
			</div>
		</li>
		<li class="item">
			<div class="left"><img src="./src/images/pic.jpeg"/></div>
			<div class="center">
				<div class="title">Carter's1年式灰色长袖连体衣包脚爬服全棉鲸鱼男婴儿童装115G093</div>
				<div class="price">
					<span class="extra">双11价</span>
					<span class="real-price">¥299.06</span>
					<span class="favor">(满400减100)</span>
				</div>
				<div class="detail">1小时内热卖5885件</div>
				<a class="rob">马上抢</a>
			</div>
		</li>
	</ul>
</div>