<div class="page3">
	<header id="header" class="">
		<div class="header_left">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>
		<div class="header_right">
			
		</div>
	</header>
	<div class="top-container">
		<div class="top-container-left">
			<img src="./src/images/left.png" />
		</div>
		<div class="top-container-center">
			<span>招财商品</span>
		</div>
		<div class="top-container-right">
			<img src="./src/images/shopcat.png" />
		</div>
	</div>
	<div class="center-container">
		<section class="good-detail">
			<img src="./src/images/a.png"/>
			<div class="good-detail-text">
				<p>欧卫生间瓷砖 欧卫生间瓷砖 厨房黑色纯色墙转 阳台小方砖地砖</p>
				<span class="good-price">¥25</span>
			</div>
		</section>
		<section class="good-evaluate">
			<span>商品评分</span>
			<div class="evaluate-value">
				<div class="checked"></div>
			    <div class="checked"></div>
			    <div class="unchecked"></div>
			    <div class="unchecked"></div>
			    <div class="unchecked"></div>
			    <span>21</span>
			</div>
		</section>
		<section class="good-list">
			<ul>
				<li>
					<div class="title">评价标题</div>
					<div class="evaluate-value">
						<div class="checked"></div>
					    <div class="checked"></div>
					    <div class="unchecked"></div>
					    <div class="unchecked"></div>
					    <div class="unchecked"></div>
					</div>
					<div class="date">
						<span class="name">用户名称</span> - 
						<span class="date-value">年/月/日</span>
					</div>
					<div class="content">评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容
					</div>
				</li>
				<li>
					<div class="title">评价标题</div>
					<div class="evaluate-value">
						<div class="checked"></div>
					    <div class="checked"></div>
					    <div class="unchecked"></div>
					    <div class="unchecked"></div>
					    <div class="unchecked"></div>
					</div>
					<div class="date">
						<span class="name">用户名称</span> - 
						<span class="date-value">年/月/日</span>
					</div>
					<div class="content">评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容
					</div>
				</li>
				<li>
					<div class="title">评价标题</div>
					<div class="evaluate-value">
						<div class="checked"></div>
					    <div class="checked"></div>
					    <div class="unchecked"></div>
					    <div class="unchecked"></div>
					    <div class="unchecked"></div>
					</div>
					<div class="date">
						<span class="name">用户名称</span> - 
						<span class="date-value">年/月/日</span>
					</div>
					<div class="content">评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容
					</div>
				</li>
			</ul>
		</section>
	</div>
</div>